    #text-button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        transition: transform 0.2s;
    }

    #text-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    #text-button:hover #text-overlay {
        opacity: 0.5;
    }

    #text-button:active {
        transform: scale(0.9);
    }

    #text-button img {
        width: 100%;
    }